<div class="login-view">
    <div class="login-panel">
        <section class="sso active text-center">
            <form ng-submit="reset()" autocomplete="off">
                <h6>{{ 'COMMON.APP_BRAND' | translate }}</h6>
                <h1>{{ 'LOGIN.RESET_PASSWORD' | translate }} {{ 'COMMON.APP_NAME' | translate }}</h1>
                <hr class="divider" />
                <div class="form-group" ng-class="{true: 'login-field-error', false: ''}[auth.failure]">
                    <label for="email" class="text-right-on-rtl">{{ 'LOGIN.EMAIL' | translate }}:</label>
                    <input type="text" id="email" class="form-control" ng-model="auth.email" />
                </div>
                <button type="submit" class="btn btn-default btn-lg">
                    {{ 'LOGIN.RESET_PASSWORD' | translate }}
                </button>
            </form>
            <span ng-if="pending"><br><fading-circle-spinner></fading-circle-spinner></span>
            <alert ng-repeat="alert in alerts" type="alert.type">{{alert.msg}}</alert>
        </section>
    </div>
</div>
