a.creator{
    background-color: #4a608a !important;
    font-weight: bold;
    padding: 15px;
    border-radius: 12px;
    font-size: 24px;
    cursor:pointer;
    color:white !important;
    :hover{
        color:white !important;
        background-color: #4a608a !important;
    }
}
.pop{
    .text-block{
        padding:2em;
    }
}
