<div class="incident-report modal-content pop">
    <div class="modal-content">
        <div class="close" ng-click="modal.close()">
            &times;
        </div>
        <div class="report-header">
            <h3 class="modal-title">
                <!--span>{{ 'RECORD.SET_LOCATION_TITLE' | translate }}</span-->
            </h3>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="text-block">
                <p>
                A Prefeitura de São Paulo quer a sua colaboração para tornar as ruas mais seguras!
                </p>
                <p>
                    Por meio da Plataforma Vida Segura, você pode apontar até 3 locais da cidade onde o excesso de velocidade tem aumentado a percepção de risco de acidentes - ou os comportamentos perigosos no trânsito - e essas informações auxiliarão a cidade a melhorar a cobertura da fiscalização nas nossas ruas.
                </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-block" style="text-align:center;">
                <a class="creator" routerLink="" ng-click="modal.createPublicRecord()">Contribua!</a>
            </div>
        </div>
    </div>
</div>
